.print {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  canvas {
    width: 100% !important;
    height: 100% !important;
    margin: 0px;
    min-height: 100vh !important;
    max-height: unset;
    max-width: unset;
  }
}
